<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480676188148-aabt1r8d6lh44ru36eq0tph49es7fifr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480676188148-aabt1r8d6lh44ru36eq0tph49es7fifr</string>
	<key>API_KEY</key>
	<string>AIzaSyAvOly7mWETDAqOnFyxLMqS_NpsiHSUkdc</string>
	<key>GCM_SENDER_ID</key>
	<string>480676188148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hiroaki-Hirabayashi.Swift-LoginAndSignUpView-FirebaseVersion-</string>
	<key>PROJECT_ID</key>
	<string>loginandsignupview-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandsignupview-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480676188148:ios:af22e01866ffae8422b3a1</string>
</dict>
</plist>